.login-window{
    position: absolute;
    width:50%;
    height:50%;
    z-index: 2;
    background: #FFF;
}

.window-center{
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom: 0;
}

.login-detail{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.background{
    background: rgb(47, 85, 151);
    position: absolute;
    width:100%;
    height:100%;
    z-index: 1;
}


.login-align{
    margin:1rem 1rem;
}


.login-input{
    padding:0.5rem 0.5rem;
    border: #DCDCDC 2px solid;
    width:80%;
}


.login-btn{
    background: orange;
    padding:1rem 1rem;
    border:none;
}


.border-round{
    border-radius: 0.5rem;
}



h1{
    font-size: 1.75rem;
    text-align: center;
}


@media only screen and (min-width:768px){
    .login-align{
        margin:1rem 1rem;
    }
    
    
    .login-input{
        padding:1rem 1rem;
        border: #DCDCDC 2px solid;
        width:80%;
    }
    
    
    .login-btn{
        padding:1rem 2rem;
    }

    h1{
        font-size: 2rem;
    }
    
}